{% load i18n templatetag_handlebars %}

{% tplhandlebars "quotation/show" %}
  <section class="invoice-head border-bottom clearfix">
    <div class="informations clearfix">
      <div class="pull-left clearfix">
        {# Date #}
        {{partial "invoiceBase/show/date"}}
        {# Validity #}
        {{partial "quotation/show/validity"}}
      </div>
      <div class="pull-right clearfix">
        {# Actions and States #}
        {{partial "invoiceBase/show/actions"}}
      </div>
    </div>
    {# Transmitter #}
    {{partial "invoiceBase/show/transmitter"}}
    {# Receiver #}
    {{partial "invoiceBase/show/receiver"}}
  </section>

  <section class="invoice-content with-head">      
    {# Reference & Currency #}
    {{partial "invoiceBase/show/currency"}}
    {# Line Items #}
    {{partial "invoiceBase/show/details"}}
    {# Invoice Summary #}
    {{partial "invoiceBase/show/summary"}}
  </section>

  <section class="invoice-attachments with-head">
    {# Attachments #}
    {{partial "invoiceBase/show/attachments"}}    
  </section>
{% endtplhandlebars %}