{% load i18n templatetag_handlebars %}
{% load static from staticfiles %}

{% tplhandlebars "contacts/partials/_showEntityContactInfos" %}
  <div class="pull-left">
    <table class="phones">
    {{#each phones}}
      <tr>
        <td>
          <span class="label label-success">{{this.displayCombinedType}}</span>
        </td>
        <td>
          <address class="phone text-orange">
            <strong>{{this.displayPhone}}</strong>
          </address>
        </td>
      </tr>
    {{/each}}
    </table>
    <table class="emails">
    {{#each emails}}
      <tr>
        <td>
          <span class="label label-success">{{this.displayType}}</span>
        </td>
        <td>
          <address class="email">
            <a href="mailto:{{unbound this.email}}">
              <strong>{{this.email}}</strong>
            </a>
          </address>
        </td>
      </tr>
    {{/each}}
    </table>
  </div>
  <div class="pull-right">
    <div class="addresses">
      <div id="accordion-addresses" class="accordion address">
        {{#if addresses.length}}
        {{#generateLoopCounter addresses}}{{/generateLoopCounter}}
        {{#each addresses}}
          {{#if isFirstObject}}
          <div class="clearfix accordion-group first active"> 
          <div id="address-{{unbound loopCounter}}" data-map-address="{{unbound mapAddress}}" class="accordion-body collapse in">
            <div class="accordion-inner map">
            {{#view Vosae.ShowEntityAddressMapView}}{{/view}}
            </div>
          </div>
          {{else}}
          <div class="clearfix accordion-group">
          <div id="address-{{unbound loopCounter}}" class="accordion-body collapse" data-map-address="{{unbound mapAddress}}">
            <div class="accordion-inner map"></div>
          </div>
          {{/if}} 
          <div class="accordion-heading">
            {{#view Vosae.ClickToShowEntityAddressMapView}}
            <a class="accordion-toggle clearfix" data-toggle="collapse" data-parent="#accordion-addresses" href="#address-{{unbound loopCounter}}">
              <span class="address">{{streetAddress}}</span>
              <span class="city">{{postalCode}} {{city}}, {{country}}</span><span class="lab green">{{label}}</span>  
              </a>
            {{/view}}
          </div>                  
          </div>
        {{/each}}
        {{else}}
        <div class="accordion-inner map no-address"><img src="{% static "webapp/img/default-map.png" %}"/></div>
        <div class="accordion-toggle text-center">{% trans "No address assigned to this contact" %}.</div>
        {{/if}}
      </div>
    </div>
  </div>
{% endtplhandlebars %}