{% load i18n templatetag_handlebars %}

{% tplhandlebars "item/edit" %}
  <section class="desc clearfix">
    <div class="pull-left">
      {{!-- <div class="icon">
        <i class="picto-tags"></i>
      </div>
      <div class="desc">
        <h4 class="reference">
          <i class="picto-arrow-right green"></i>
        </h4>
        <p></p>
      </div> --}}
    </div>
    <div class="pull-right">
      <h4 class="type">
        {{select
          contentBinding="Vosae.Config.itemsTypeChoices"
          valueBinding="type"
          containerCssClass="helptour-itemtype success"
          optionLabelPath="content.label"
          optionValuePath="content.value" }}
      </h4>
    </div>
  </section>

  <section class="detail clearfix">
    <table class="helptour-itemprice">
      <tr class="product">
        <td><label>{% trans "Product name" %}</label></td>
        <td>
          {{simple-editor
            modelBinding="this"
            valueBinding="description"
            maxLength="1024"
            classNames="form-control form-control-unstyled"
            placeholder="{% trans '- Product name, description' %}…" }}
          <p class="info">{% trans "You are allowed to write on several lines" %}</p>
        </td>
      </tr>
      <tr class="reference">
        <td><label>{% trans "Reference" %}</label></td>
        <td>
          {{view view.referenceField 
            valueBinding="reference"
            maxlength="32"
            classNames="form-control form-control-unstyled" 
            placeholder="{% trans "Reference" %}" }}
            <p class="info">{% trans "Alphanumeric characters and dashes/underscores only" %}</p>
        </td>
      </tr>
      <tr>
        <td><label>{% trans "Price" %}</label></td>
        <td>
          {{view view.unitPriceField
            itemBinding="this"
            classNames="form-control form-control-unstyled"
            placeholder="0" }}
        </td>
      </tr>
      <tr>
        <td><label>{% trans "Tax" %}</label></td>
        <td>
          {{select
            contentBinding="controller.taxes"
            valueBinding="tax"
            containerCssClass="taxes success"
            optionValuePath="content"
            optionLabelPath="content.displayTax" }}
        </td>
      </tr>
      <tr>
        <td><label>{% trans "Currency" %}</label></td>
        <td>
          {{#if controller.session.tenantSettings.invoicing.supportedCurrencies}}
            {{select
              contentBinding="controller.session.tenantSettings.invoicing.supportedCurrencies"
              valueBinding="currency"
              containerCssClass="currencies success"
              optionValuePath="content"
              optionLabelPath="content.symbol" }}
          {{/if}}
        </td>
      </tr>
    </table>
  </section>
  
  {{partial "core/partials/formActions"}}

{% endtplhandlebars %}

{% tplhandlebars "item/edit/settings" %}
  <ul class="info">
    <li>
      <a {{action 'startHelpTour' target="view"}}>
        <i class="picto-help"></i>
        {% trans "Infos" %}
      </a>
    </li>
  </ul>
{% endtplhandlebars %}