{% load i18n templatetag_handlebars %}

{% tplhandlebars "items/show" %}
  <section class="sub-actions clearfix">
    <div class="btn-toolbar pull-left">
      {% comment %}
      <div class="btn-group">
        {{view Vosae.ArraySortPropertySelect 
          contentBinding = "Vosae.itemsSortPropertiesChoices" 
          sortPropertiesBinding = "controller.sortProperties"
          placeholder = "{% trans 'Filter by' %}" }}
      </div>
      <div class="btn-group">
        {{view Vosae.ArraySortAscendingSelect 
          contentBinding = "Vosae.sortAscendingChoices" 
          sortAscendingBinding = "controller.sortAscending"
          placeholder = "{% trans 'Order by' %}" }}
      </div>
      {% endcomment %}
    </div>
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        {{#link-to "items.add" controller.session.tenant class="btn btn-primary"}}
          <i class="picto-add"></i>
          {% trans "Item" %}
        {{/link-to}}
      </div>
    </div>
  </section>

  <section class="items with-head">
    <div class="header clearfix">
      <h4 class="pull-left">
        {% trans "Inventory" %} <span class="badge primary">{{meta.totalCount}}</span>
      </h4>
      <div class="btn-toolbar pull-right"></div>
    </div>
    {{#with arrangedContent}}
      {{partial "invoicing/partials/tableOfItems"}}
    {{/with}}

    {# Pagination #}
    <div class="meta-pagination text-center">
      {{#if meta.loading}}
        <button disabled="disabled" class="btn btn-default">{% trans "Loading..." %}</button>
      {{else}}
        {{#if meta.next}}
          <button class="btn btn-default" {{action 'getNextPagination'}}>{% trans "More" context "display more" %}</button>
        {{/if}}
      {{/if}}
    </div>
  </section>
{% endtplhandlebars %}