{% load i18n templatetag_handlebars %}

{% tplhandlebars "purchaseOrders/show" %}

  <section class="sub-actions clearfix">
    <div class="btn-toolbar pull-left"></div>
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        {{#link-to "purchaseOrders.add" controller.session.tenant class="btn btn-primary"}}
          <i class="picto-add"></i>
          {% trans "Purchase order" %}
        {{/link-to}}
      </div>
    </div>
  </section>

  {# Pending #}
  <section class="quotations with-head">
    <div class="header clearfix">
      <h4 class="pull-left">
        {% trans "Pending" %} <span class="badge primary">{{metaPending.totalCount}}</span>
      </h4>
      <div class="btn-toolbar pull-right"></div>
    </div>
    {{#with purchaseOrdersPending}}
      {{partial "invoicing/partials/tableOfPurchaseOrders"}}
    {{/with}}

    {# Pagination #}
    <div class="meta-pagination text-center">
      {{#if metaPending.loading}}
        <button disabled="disabled" class="btn btn-default">{% trans "Loading..." %}</button>
      {{else}}
        {{#if metaPending.next}}
          <button class="btn btn-default" {{action 'getNextPaginationPending'}}>{% trans "More" context "display more" %}</button>
        {{/if}}
      {{/if}}
    </div>
  </section>

  {# Approved #}
  <section class="quotations with-head">
    <div class="header clearfix">
      <h4 class="pull-left">
        {% trans "Approved" %} <span class="badge primary">{{metaSucceeded.totalCount}}</span>
      </h4>
      <div class="btn-toolbar pull-right"></div>
    </div>
    {{#with purchaseOrdersSucceeded}}
      {{partial "invoicing/partials/tableOfPurchaseOrders"}}
    {{/with}}

    {# Pagination #}
    <div class="meta-pagination text-center">
      {{#if metaSucceeded.loading}}
        <button disabled="disabled" class="btn btn-default">{% trans "Loading..." %}</button>
      {{else}}
        {{#if metaSucceeded.next}}
          <button class="btn btn-default" {{action 'getNextPaginationSucceeded'}}>{% trans "More" context "display more" %}</button>
        {{/if}}
      {{/if}}
    </div>
  </section>
{% endtplhandlebars %}