{% load templatetag_handlebars i18n %}

{% tplhandlebars "tenants" %}
  <div id="ct-tenant">
    <div class="inner">
      <header class="main">
        <h1> 
          {{#if controllers.application.isTenantsAdd}}
            <i class="picto-rounded-add"></i>{% trans "Create a new organization" %}
          {{/if}}
          {{#if controllers.application.isTenantsShow}}
            <i class="picto-check"></i>{% trans "Select an organization" %}
          {{/if}}
        </h1>
      </header>
      {{outlet}}
    </div>
  </div>
{% endtplhandlebars %}


{% tplhandlebars "tenant" %}

  {# Container left #}
  <div id="ct-left">
    {{#if session.hasTenant}}
      <div class="inner">
        {{view Vosae.DesktopLeftPanelView}}
      </div>
    {{/if}}
  </div>

  {# Container middle #}
  <div id="ct-middle">

    {# Main page header #}
    <header id="header" role="banner">
      {{#if session.hasTenant}}
      <div class="d-table desktop">
        <div class="d-row">
          <div class="d-cell notif">
            <a id="desktop-header-notifications" {{action openPanelLeft target="view"}}>
              Vosae 
              {{!-- {{#if controllers.notifications.unreadCounter}} --}}
                {{!-- <span class="counter">{{controllers.notifications.unreadCounter}}</span> --}}
              {{!-- {{/if}} --}}
            </a>
          </div>
          <div class="d-cell search">
            {{view view.desktopSearchField}}
            <i class="picto-search"></i>
          </div>
          <div class="d-cell settings">
            <a id="desktop-header-settings" {{action openPanelRight target="view"}}>
              <div class="avatar" title="{% trans 'My settings' %}">
                {{#if session.user.photoUri}}
                  <img {{bind-attr src="session.user.photoUri"}}>
                {{/if}}
              </div>
              <span class="username">{{session.user.fullName}}</span>
            </a>
          </div>
        </div>
      </div>
      {{/if}}
    </header>

    {% comment %}
    {{#if session.hasTenant}}
      {{view Vosae.SearchView}}
    {{/if}}
    {% endcomment %}

    {# Content #}
    <div id="content" role="main">
      <div class="d-table">
        <div class="d-row">
          {# Menu #}
          <div class="d-cell menu">
            {{#if session.hasTenant}}
            <nav id="desktop-app-menu" class="bootstro">
              <ul class="list-unstyled">
                <li class="dashboard" {{bind-attr class="isDashboard:active"}}>
                  {{#link-to "dashboard.show" session.tenant}}
                    <span class="circle">
                      <i class="picto-home"></i>
                    </span>
                    {% trans "Timeline" %}
                  {{/link-to}}
                </li>
                <li class="contacts" {{bind-attr class="isContacts:active"}}>
                  {{#link-to "organizations.show" session.tenant}}
                    <span class="circle">
                      <i class="picto-users"></i>
                    </span>
                    {% trans "Contacts" %}
                  {{/link-to}}
                </li>
                <li class="calendar" {{bind-attr class="isOrganizer:active"}}>
                  {{#link-to "calendarLists.show" session.tenant}}
                    <span class="circle">
                      <i class="picto-agenda"></i>
                    </span>
                    {% trans "Organizer" %}
                  {{/link-to}}
                </li>
                <li class="invoicing" {{bind-attr class="isInvoicing:active"}}>
                  {{#link-to "invoicing.dashboard" session.tenant}}
                    <span class="circle">
                      <i class="picto-moneybox"></i>
                    </span>
                    {% trans "Invoicing" %}
                  {{/link-to}}
                </li>
              </ul>
            </nav>
            {{/if}}
          </div>
          {# Page #}
          <div class="d-cell content">
            <div class="content-min-height">
              <div id="main-content" class="inner">
                {{outlet}}
              </div>
            </div>
          </div>
          {# Page settings #}
          <div class="d-cell page-actions">
            <div class="inner"> 
              {{!-- {{outlet outletPageSettings}} --}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Container left #}
  <div id="ct-right">
    {{#if session.hasTenant}}
    <div class="inner">
      {{!-- {{view Vosae.DesktopRightPanelView}} --}}
    </div>
    {{/if}}
  </div>
{% endtplhandlebars %}