{% load i18n templatetag_handlebars i18n_handlebars %}

{% tplhandlebars "invoiceBase/show/_actions" %}
  <div class="btn-group">
    <button class="btn btn-default" {{action 'downloadPdf' controller.session.tenant.reportSettings.defaultLanguage.code target="controller"}}>
      PDF{{#if isGeneratingPdfState}} - {% trans "Generating" %}…{{/if}}
    </button>
    <button class="btn dropdown-toggle btn-default" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a {{action 'downloadPdf' controller.session.tenant.reportSettings.defaultLanguage.code target="controller"}}>{{controller.session.tenant.reportSettings.defaultLanguage.name}} ({% trans "default" context "something by default" %})</a></li>
      <li class="divider"></li>
      {{#each controller.session.tenant.reportSettings.otherLanguages}}
        <li><a {{action 'downloadPdf' code target="controller"}}>{{ name }}</a></li>
      {{/each}}
    </ul>
  </div>
    
  {# InvoiceBase is Invoice #}
  {{#if isInvoice}}
    {{#if isInvoicable}}
      {{#if isUpdatingState}}
        <div class="btn-group">
          <a class="btn btn-default">
            {% trans "Processing" %}…
          </a>
        </div>
      {{else}}
        <div class="btn-group">
          <a class="btn btn-success" {{action 'markAsState' 'REGISTERED' target="controller"}}>
            {% trans "Charge" %}
          </a>
        </div>
      {{/if}}
    {{/if}}
    {{#if isCancelable}}
      <div class="btn-group">
        <a class="btn btn-default" {{action 'invoiceCancel' target="controller"}}>
          {% trans "Cancel invoice" %}
        </a>
      </div>
    {{/if}}
    {{#if isModifiable}}
      <div class="btn-group">
        {{#linkTo "invoice.edit" controller.session.tenant content class="btn btn-success"}}
          {% trans "Edit" %}
        {{/linkTo}}
      </div>
    {{/if}}
  {{/if}}

  {# InvoiceBase is Quotation #}
  {{#if isQuotation}}  
    {{#if isInvoiced}}
      <div class="btn-group">
        <a class="btn btn-primary disabled">
          {{displayState}}
        </a>
      </div>
    {{else}}
      <div class="btn-group">
        <a class="btn btn-default" data-toggle="dropdown">
          {{displayState}}&nbsp;<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          {{#each availableStates}}
            <li>
              <a {{action 'markAsState' value target="controller"}}>
                {{markAsLabel}}
              </a>
            </li>
          {{else}}
            <li class="disabled"><a href="#">{% trans "No action available" %}</a></li>
          {{/each}}
        </ul>
      </div>
    
      {{#if isInvoiceable}}
        <div class="btn-group">
          <a class="btn btn-primary" {{action 'makeInvoice' target="controller"}}>
            {% trans "Make invoice" %}
          </a>
        </div>
      {{/if}}

      {{#if isModifiable}}
        <div class="btn-group">
          {{#linkTo "quotation.edit" controller.session.tenant content class="btn btn-primary"}}
            {% trans "Edit" %}
          {{/linkTo}}
        </div>
      {{/if}}
    {{/if}}
  {{/if}}

  {# InvoiceBase is Purchase Order #}
  {{#if isPurchaseOrder}}  
    {{#if isInvoiced}}
      <div class="btn-group">
        <a class="btn btn-primary disabled">
          {{displayState}}
        </a>
      </div>
    {{else}}
      <div class="btn-group">
        <a class="btn btn-default" data-toggle="dropdown">
          {{displayState}}&nbsp;<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          {{#each availableStates}}
            <li>
              <a {{action 'markAsState' value target="controller"}}>
                {{markAsLabel}}
              </a>
            </li>
          {{else}}
            <li class="disabled"><a href="#">{% trans "No action available" %}</a></li>
          {{/each}}
        </ul>
      </div>
      
      {{#if isInvoiceable}}
        <div class="btn-group">
          <a class="btn btn-primary" {{action 'makeInvoice' target="controller"}}>
            {% trans "Make invoice" %}
          </a>
        </div>
      {{/if}}

      {{#if isModifiable}}
        <div class="btn-group">
          {{#linkTo "purchaseOrder.edit" controller.session.tenant content class="btn btn-primary"}}
            {% trans "Edit" %}
          {{/linkTo}}
        </div>
      {{/if}}
    {{/if}}
  {{/if}}

{% endtplhandlebars %}
