{% load i18n templatetag_handlebars i18n_handlebars %}

{% tplhandlebars "invoiceBase/show/_details" %}
  <table class="table table-line-items table-striped table-{{unbound relatedColor}}">
    <thead>
      <tr>
        <th class="reference">{% trans "Reference" context "table-headers" %}</th>
        <th class="description">{% trans "Description" context "table-headers" %}</th>
        <th class="quantity">{% trans "Qty" context "table-headers" %}</th>
        <th class="unit-price">{% trans "Unit price <small>(excl. tax)</small>" context "table-headers" %}</th>
        <th class="tax">{% trans "Tax" context "table-headers" %}</th>
        <th class="total">{% trans "Total <small>(excl. tax)</small>" context "table-headers" %}</th>
      </tr>
    </thead>
    <tbody>
      {{#each currentRevision.lineItems}}
        <tr {{bind-attr class="optional"}}>
          <td class="reference">{{ref}}</td>
          <td class="description">
            {{{description}}}
            {{#if optional}}<p class="optional-label">{% trans "Optional" context "line item" %}</p>{{/if}}
          </td>
          <td class="quantity">{{displayQuantity}}</td>
          <td class="unit-price">{{displayUnitPrice}}</td>
          <td class="tax">{{tax.displayTax}}</td>
          <td class="total">
            {{displayTotal}}
            {{#if optional}}<p class="optional-label">{% trans "Optional" context "line item" %}</p>{{/if}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="6" class="no-data text-center">
            {% trans "No items" %}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{% endtplhandlebars %}