{% load i18n templatetag_handlebars i18n_handlebars %}

{% tplhandlebars "invoiceBase/show/_title" %}
  <h4 class="invoice-base-title">
    {{#if isQuotation}}
      <span class="invoice-base-type">{% trans "Quotation" %}</span>
      {{#if reference}}
        <span class="invoice-base-ref">{{reference}}</span>
      {{else}}
        <span class="invoice-base-noref">{% trans "Reference will be generated on save" %}</span>
      {{/if}}
    {{/if}}

    {{#if isPurchaseOrder}}
       <span class="invoice-base-type">{% trans "Purchase order" %}</span>
      {{#if reference}}
        <span class="invoice-base-ref">{{reference}}</span>
      {{else}}
        <span class="invoice-base-noref">{% trans "Reference will be generated on save" %}</span>
      {{/if}}
    {{/if}}

    {{#if isInvoice}}
      <span class="invoice-base-type">{% trans "Invoice" %}</span>
      {{#if hasTemporaryReference}}
        <span class="invoice-base-noref">{% trans "Reference will be generated when registered" %}</span>
      {{else}}
        <span class="invoice-base-ref">{{reference}}</span>
      {{/if}}
    {{/if}}

    {{#if isCreditNote}}
      <span class="invoice-base-type">{% trans "Credit Note" %}</span>
      <span class="invoice-base-ref">{{reference}}</span>
    {{/if}}
  </h4>
{% endtplhandlebars %}