{% load i18n templatetag_handlebars %}

{% tplhandlebars "invoices/show" %}
  <section class="sub-actions clearfix">
    <div class="btn-toolbar pull-left"></div>
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        {{#linkTo "invoices.add" controller.session.tenant class="btn btn-success"}}
          <i class="picto-add"></i>&nbsp;{% trans "Invoice" %}
        {{/linkTo}}
      </div>
    </div>
  </section> 
  
  {# Overdue #}
  <section class="invoices with-head">
    <div class="header clearfix">
      <h4 class="pull-left">
        {% trans "Overdue" %}
      </h4>
      <div class="btn-toolbar pull-right"></div>
    </div>
    {{#with invoicesOverdue}}
      {{partial "invoicing/partials/tableOfInvoices"}}
    {{/with}}

    {# Pagination #}
    {{#if paginationOverdueHasNext}}
      <p class="text-center">
        <a class="btn btn-default btn-rounded btn-sm" {{action getNextInvoicesOverdue}}>
          {% trans "Load more invoices" %}
        </a>
      </p>
    {{/if}}
  </section>

  {# Pending #}
  <section class="invoices with-head">
    <div class="header clearfix">
      <h4 class="pull-left">
        {% trans "Pending" %}
      </h4>
      <div class="btn-toolbar pull-right"></div>
    </div>
    {{#with invoicesPending}}
      {{partial "invoicing/partials/tableOfInvoices"}}
    {{/with}}

    {# Pagination #}
    {{#if paginationPendingHasNext}}
      <p class="text-center">
        <a class="btn btn-default btn-rounded btn-sm" {{action getNextInvoicesPending}}>
          {% trans "Load more invoices" %}
        </a>
      </p>
    {{/if}}
  </section>

  {# Paid #}
  <section class="invoices with-head">
    <div class="header clearfix">
      <h4 class="pull-left">
        {% trans "Paid" context "many invoices" %}
      </h4>
      <div class="btn-toolbar pull-right"></div>
    </div>
    {{#with invoicesPaid}}
      {{partial "invoicing/partials/tableOfInvoices"}}
    {{/with}}

    {# Pagination #}
    {{#if paginationPaidHasNext}}
      <p class="text-center">
        <a class="btn btn-default btn-rounded btn-sm" {{action getNextInvoicesPaid}}>
          {% trans "Load more invoices" %}
        </a>
      </p>
    {{/if}}
  </section>
{% endtplhandlebars %}