{% load i18n templatetag_handlebars %}

{% tplhandlebars "settings/editUser" %}
  <header>
    {{#if id}}
      <h3>{% trans "Global settings" %} &nbsp;>&nbsp; {% trans "Users" %} &nbsp;>&nbsp; {% trans "Edit" %} &nbsp;>&nbsp; {{fullName}}</h3>
    {{else}}
      <h3>{% trans "Global settings" %} &nbsp;>&nbsp; {% trans "Users" %} &nbsp;>&nbsp; {% trans "Add" %}</h3>
    {{/if}}
    <div class="btn-toolbar pull-right">
      {{#if id}}
        {{#if isDeleteable}}
          {{#unless isSaving}}
            <div class="btn-group">
              <a {{action 'delete' content}} class="btn btn-rounded btn-primary">
                {% trans "Delete" %}
              </a>
            </div>
          {{/unless}}
        {{/if}}
      {{/if}}
      {{partial "settings/partials/saveSettings"}}
    </div>
  </header>
  <section class="clearfix global-informations">
    <div class="inner">
      <div class="clearfix">
        <div class="pull-left">
          <h4>{% trans "Preferences" %}</h4>
        </div>
      </div>
      <table class="half">
        <tbody>
          {{#if id}}
          <tr>
            <td class="label">
              <label>{% trans "Name" %}</label>
            </td>
            <td>
              {{view Ember.TextField 
                valueBinding="fullName"
                maxlength="64" 
                classNames="form-control form-control-settings" 
                disabled="disabled" }}
            </td>
          </tr>
          {{/if}}
          <tr>
            <td class="label">
              <label>{% trans "Email" %}</label>
            </td>
            <td>
              {{#if id}}
                {{view Ember.TextField 
                  valueBinding="email"
                  maxlength="64" 
                  classNames="form-control form-control-settings"
                  disabled="disabled" }}
              {{else}}
                {{view Ember.TextField 
                  valueBinding="email"
                  maxlength="64" 
                  classNames="form-control form-control-settings" }}
              {{/if}}
            </td>
          </tr>
          <tr>
            <td class="label">
              <label>{% trans "Groups" %}</label>
            </td>
            <td>
              {{view view.groupsField
                userBinding="content"
                contentBinding="groupsList"
                selectionBinding="content.groups"
                multiple="true"
                optionValuePath="content.id"
                optionLabelPath="content.name" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  {{view view.userSpecificPermissionsView specificPermissionsBinding="content.specificPermissions"}}
{% endtplhandlebars %}