{% load i18n templatetag_handlebars %}


{% tplhandlebars "invoicing/dashboard" %}
  {# Sections stats #}
  <section class="summary clearfix">
    <div class="icon pull-left">
      <i class="picto-moneybox img-rounded"></i>
    </div>
    <div class="pull-left">
      <h4>{{trans "TOTAL Fiscal year {{fiscalYear}}" fiscalYearBinding="controller.session.tenantSettings.invoicing.currentFyStartYear"}}</h4>
      <p>{% trans "Billed" %}: {{formatMoney invoicingFyFlowStatistics.fyInvoiced.amount defaultCurrency.displaySign}}</p>
      <p>{% trans "Purchased" %}: {{formatMoney invoicingFyFlowStatistics.fyPurchased.amount defaultCurrency.displaySign}}</p>
    </div>
    <div class="pull-right">
      <h4>TOTAL {{formatNow format="MMM YYYY"}}</h4>
      <p>
        <i class="picto-arrow-right text-green"></i>
        {% trans "Billed" %}: {{formatMoney invoicingFyFlowStatistics.currentMonthInvoiced.amount defaultCurrency.displaySign}}
      </p>
      <p>
        <i class="picto-arrow-left text-orange"></i>
        {% trans "Purchased" %}: {{formatMoney invoicingFyFlowStatistics.currentMonthPurchased.amount defaultCurrency.displaySign}}
      </p>
      <p>
        <i class="picto-stat text-green"></i>
        {% trans "Estimated profits" %}: <span class="text-orange">{{formatMoney invoicingFyFlowStatistics.currentMonthProfits defaultCurrency.displaySign}}</span>
      </p>
    </div>
  </section>

  {# Section actions #}
  <section class="sub-actions clearfix">
    <div class="btn-toolbar pull-left helptour-addbtn">
      <div class="btn-group">
        {{#link-to "quotations.add" controller.session.tenant class="btn btn-primary"}}
          <i class="picto-add"></i>
          {% trans "Quotation" %}
        {{/link-to}}
      </div>
      <div class="btn-group">
        {{#link-to "invoices.add" controller.session.tenant class="btn btn-success invoice"}}
          <i class="picto-add"></i>
          {% trans "Invoice" %}
        {{/link-to}}
      </div>
      {# <a class="btn add grey">{% trans "Purchase" %}</a> #}
      <div class="btn-group">
        {{#link-to "items.add" controller.session.tenant class="btn btn-default"}}
          <i class="picto-add"></i>
          {% trans "Item" %}
        {{/link-to}}
      </div>
    </div>
  </section>

  {# Section list of invoices #}
  <section class="invoices with-head">
    <div class="header clearfix">
      <h4 class="pull-left">
        {% trans "Overdue invoices" %} <span class="badge success">{{controllers.invoicesShow.metaOverdue.totalCount}}</span>
      </h4>
      <div class="btn-toolbar pull-right">
        <div class="btn-group">
          {{#link-to "invoices.add" controller.session.tenant class="btn btn-sm btn-rounded btn-success"}}
            {% trans "Add" %}
          {{/link-to}}
        </div>
      </div>
    </div>
    {{#with invoicesOverdue}}
      {{partial "invoicing/partials/tableOfInvoices"}}
    {{/with}}

    {{#if moreInvoicesOverdue}}
      <p class="table-see-more">
        {{#link-to "invoices.show" controller.session.tenant class="btn btn-sm btn-rounded btn-default text-bold"}}
          {% trans "See all invoices" %}...
        {{/link-to}}
      </p>
    {{/if}}
  </section>

  {# Section list of quotations #}
  <section class="quotations with-head">
    <div class="header clearfix">
      <h4 class="pull-left">
        {% trans "Quotes to bill" %} <span class="badge primary">{{controllers.quotationsShow.metaPending.totalCount}}</span>
      </h4>
      <div class="btn-toolbar pull-right">
        <div class="btn-group">
          {{#link-to "quotations.add" controller.session.tenant class="btn btn-sm btn-primary btn-rounded"}}
            {% trans "Add" %}
          {{/link-to}}
        </div>
      </div>
    </div>
    {{#with quotationsPending}}
      {{partial "invoicing/partials/tableOfQuotations"}}
    {{/with}}

    {{#if moreQuotationsPending}}
      <p class="table-see-more">
        {{#link-to "quotations.show" controller.session.tenant class="btn btn-sm btn-rounded btn-default text-bold"}}
          {% trans "See all quotations" %}...
        {{/link-to}}
      </p>
    {{/if}}
  </section>
{% endtplhandlebars %}

{% tplhandlebars "invoicing/dashboard/settings" %}
   <ul class="info">
    <li>
      <a {{action 'startHelpTour' target="view"}}>
        <i class="picto-help"></i>
        {% trans "Infos" %}
      </a>
    </li>
  </ul>
{% endtplhandlebars %}