{% load i18n templatetag_handlebars i18n_handlebars %}

{% tplhandlebars "invoiceBase/edit/_details" %}
  <table class="table table-line-items table-striped edit table-{{unbound relatedColor}}">
    <thead>
      <tr>
        <th></th>
        <th class="reference">{% trans "Reference" context "table-headers" %}</th>
        <th class="description">{% trans "Description" context "table-headers" %}</th>
        <th class="quantity">{% trans "Qty" context "table-headers" %}</th>
        <th class="unit-price">{% trans "Unit price <small>(excl. tax)</small>" context "table-headers" %}</th>
        <th class="tax">{% trans "Tax" context "table-headers" %}</th>
        <th class="total">{% trans "Total <small>(excl. tax)</small>" context "table-headers" %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each currentRevision.lineItems}}
        <tr guid="{{unbound guid}}">
          <td class="handle" title="{% trans 'Move line' %}">
            <span class="glyphicon glyphicon-align-justify"></span>
          </td>
          <td class="reference">
            {{view view.itemsSearchField
              currentItemBinding="this"
              dropdownCssClass="item-search-field"
              placeholder="{% trans 'Reference' %}…" }}
          </td>
          <td class="description">
            {{view view.lineItemTextArea
              currentItemBinding="this"
              valueBinding="description"
              maxlength="512"
              resize="none"
              classNames="form-control form-control-unstyled description"
              placeholder="{% trans 'Description' %}…" }}
          </td>
          <td class="quantity">
            {{view view.lineItemQuantityField
              currentItemBinding="this"
              valueBinding="displayQuantity"
              classNames="form-control form-control-unstyled quantity text-right"
              placeholder="0" }}
          </td>
          <td class="unit-price">
            {{view view.lineItemUnitPriceField
              currentItemBinding="this"
              valueBinding="displayUnitPrice"
              classNames="form-control form-control-unstyled unitPrice text-right"
              placeholder="0" }}
          </td>
          <td class="tax">
            {{view view.taxesSearchField
              currentItemBinding="this"
              dropDownCssClass="tax-search-field"
              placeholder="0%" }}
          </td>
          <td class="total">
            {{this.displayTotal}}
          </td>
          <td class="actions">
            <div class="btn-group pull-right">
              <button class="btn dropdown-toggle" data-toggle="dropdown" title="{% trans 'More actions' %}...">
                <i class="picto-options"></i>
              </button>
              <ul class="dropdown-menu">
                {% comment %}<li {{action setLineItemAsOptional this}}><a>{% trans "Set as optional" %}</a></li>{% endcomment %}
                <li {{action addLineItemAbove this}}><a>{% trans "Insert one above" %}</a></li>
                <li {{action addLineItemBelow this}}><a>{% trans "Insert one below" %}</a></li>
                <li class="divider"></li>
                <li {{action deleteLineItem this}}><a>{% trans "Delete" %}</a></li>
              </ul>
            </div>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="7" class="no-data">
            {% trans "No items" %}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <p class="table-add-line">
    <a class="btn btn-sm btn-rounded btn-{{unbound relatedColor}}" {{action addLineItem}}>
      {% trans 'Add a line' %}
    </a>
  </p>
{% endtplhandlebars %}